/* || GENERAL SECTION || */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a{
    text-decoration: none;
}


/* || HEADER SECTION || */
header{
    background-color: #1B2226;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
header img{
    padding: 5px;
    width: 50px;
}

.headerpt2{
    display: flex;
    height: 100%;
}

.aboutbtn{
    background-image:linear-gradient(90deg, #cb2d3e, #ef473a);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.aboutbtn:hover{
    background-image:linear-gradient(90deg, #ec5246,#f53044);
}



/* || CATEGORIES SECTION || */
.dropbtn{
    background-image:linear-gradient(90deg, #cb2d3e, #ef473a);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdownContent{
    display: none;
    position: absolute;
    background-image:linear-gradient(90deg, #e53935, #e35d5b);
    width:100%;
    /*overflow: auto; - makes it with bars for other screen sizes*/
    box-shadow: 0pc 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a{
    color: white;
    display: block;
    padding: 12px 16px;
}

.dropdown:hover .dropdownContent{
    display: block;
    
}
.dropdown:hover .dropbtn {
    background-image:linear-gradient(90deg, #ec5246,#f53044);
}
.dropdownContent a:hover {
    transition: 500ms;
    background-color:#aa2b28;
}


/* ---- HOME PAGE ---- */


/* || BODY SECTION || */

body{
    background-color: #28303F;
    
}

body, html{
    width: 100%;
    height: 100%;
}
.intro{
   text-align: center;
   padding: 10px;
}
.intro img{
    max-width: 150px;
    max-height: 150px;
}
.intro h2{
    padding: 10px;
    font-style: italic;
    text-decoration: underline white;
}

.container{
    background-color: #1B2226;
    height: 100%;
    width: 100%;
    max-height: 100%;
}

.container h2{
    padding: 10px;
    background-color: #101416;
}


/* || ITEMS SECTION || */

.items{
    background-color: #1B2226;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px;
    
}

.item{
   
    margin: 20px 40px;
    background-image:linear-gradient(90deg, #cb2d3e, #ef473a);
}

.item img{
    max-width: 300px;
    max-height: 250px;
    min-height: 200px;
    margin: 0px;
}


.itemInfo{
    background-image:linear-gradient(90deg, #cb2d3e, #ef473a);
    color: white;
    text-align: center;
    
}

.item h3{
    background-color:  #a12632;
    margin: 0px;
}

.itemPricing{
    padding: 15px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.item p{
    text-decoration: line-through;
    margin: 5px;
    font-size: 18px;
    color: #afafaf;
}

.item button{
    background-image: linear-gradient(90deg, #76b852,#8DC26F);
    border: none;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    width: 40%;
}
.item button:hover{
    cursor: pointer;
    background-image: linear-gradient(90deg, #57863d,#6b9254);
    
    
}




/* ---- DESCRIPTION PAGE ---- */

/* || BODY SECTION || */

.discription{
    /* display: flex; */
    text-align: center;
    margin: 0px;
    padding:0px;
    
    
}

.discriptionpt1{
    display: flex;
    justify-content: center;
}
.discriptionpt1 img{
    max-height: 800px;
    max-width: 900px;
}

.reviews{
    background-color: #1B2226;
    max-width: 300px;
}

/* |STARS| */

.stars{
    border-top: 1px solid rgb(182, 182, 182,30%);
    border-bottom: 1px solid rgb(182, 182, 182,30%);
    text-align: left;
}
.stars img{
    max-width: 300px;
    max-height: 200px;
}

.stars p{
    padding: 10px;
    color: rgb(182, 182, 182);
}


/* |COMMENTS| */
.comments{
    padding-top: 10px;
    border-bottom: 1px solid rgb(182, 182, 182,30%);
}

.comments p{
    text-align: left;
    padding: 10px;
    color: rgb(182, 182, 182);
}


/* |PAGAMENTO| */

.pagamento{
    /* border-bottom: 1px solid rgb(182, 182, 182,30%); */
    padding: 10px;
}

.pagamento legend{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 22px;
    text-align: left;
}

.pagamento label{
    font-size: 20px;
    text-align: left;
}
.pagamento p{
    padding:5px;
    text-align:left;
    font-size: 20px;
    text-decoration: line-through;
    color: rgb(209, 209, 209);
}
.pagamento h2{
    text-align:left;
    font-size: 30px;
    margin: 10px;
    margin-bottom: 30px;
    color: #8DC26F;
}

.comprar{
    background-image: linear-gradient(90deg, #76b852,#8DC26F);
    border: none;
    padding: 10px;
    margin-top: 60px;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}
.comprar:hover{
    cursor: pointer;
    background-image: linear-gradient(90deg, #57863d,#6b9254);
     
}
input[type="radio"]{
    text-align: center;
    margin: 0 30px 0 10px;
  }




  /* |DISCRIPTION PT 2| */

.discriptionpt2{
    background-color: #1b1f25;
    max-width: 1200px;
    width: 100%;
    margin:auto;
    justify-content: center;
}

.discriptionText{
    max-width: 1200px;
    text-align: left;
    

}

.discriptionText p{
    padding: 40px;
    font-size: 20px;
    
}

/* ---- ABOUT US PAGE ---- */

/* || BODY SECTION  || */

#aboutUsIntro{
    text-align: center;
    margin-top: 20px;
}
#aboutUsIntro h2{
    padding: 10px;
}

#aboutUsText{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
}
.contactUs{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    display: block;
    text-align: center;
    background-color: #1B2226;
}
.contactUs h2{
    padding: 20px;
}
.contactUs label{
    display: block;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 5%;
    font-size: 20px;
}
.contactUs input{
    padding-left: 10px;
    width: 90%;
    padding-bottom:10px;
    padding-top: 10px;
    margin-bottom: 40px;
}
#subject{
    padding-bottom:60px;
}

.contactUs button{
    background-image: linear-gradient(90deg, #76b852,#8DC26F);
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    width: 30%;
}
.contactUs button:hover{
    cursor: pointer;
}

/* || END  || */

